{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<main class="creasoft-wrap">
<div class="line_wrap">
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
</div>


<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-cnt">
                        <h1>Subscribe to Elevate Your Business</h1>
                        <span><a href="{% url "home:index" %}">Home</a><i class="bi bi-arrow-right"></i>Pricing Plan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if pricings %}
        <section class="priceing-plan sec-mar">
            <div class="container">
                <div class="title-wrap">
                    <div class="sec-title">
                        <span>Getting Start</span>
                        <h2>Subscription Plans</h2>
                    </div>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row g-4">
                            {% for pricing in pricings %}
                                <div class="col-md-6 col-lg-4 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="price-box {% if pricing.is_featured %}tcg-price-box premium-pricing{% endif %}">
                                        <!-- Badge -->
                                        {% if pricing.top %}
                                        <div class="plan-ribbon-wrapper">
                                            <div class="plan-ribbon">{{ pricing.top_text }}</div>
                                        </div>
                                        {% endif %}
                                        <h3>{{ pricing.title }}</h3>
                                        <span>{{ pricing.subtitle }}</span>
                                        <strong>{{ pricing.price }}</strong>
                                        <div class="item-list">
                                            {{ pricing.description|safe }}
                                        </div>
                                        <div class="price-btn">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                            <a href="{{ pricing.button_url }}">{{ pricing.button_text }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {% endif %}

{% endblock content %}