{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%} 

{% load i18n %}
{% comment %} {% load account socialaccount %} {% endcomment %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
<div class="line_wrap">
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
  </div>
  
  <section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-cnt">
                        <h1>Sign Up</h1>
                        <span><a href="{% url "home:index" %}">Home</a><i class="bi bi-arrow-right"></i>Sign Up</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

<div class="container col-6 mt-4">
  <form class="signup" method="POST" action="{% url 'account_signup' %}">
    <h4> {% trans "Signup" %}</h4>
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    {% csrf_token %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

       <button class="btn-lg btn-secondary primaryAction" type="submit">{% trans "Sign Up" %}</button>

    </form>
</div>  
{% endblock content %}


{% comment %} {% block content %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    <p>{% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}</p>
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
     {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %} 
{% endblock content %} {% endcomment %}
