{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<section>
<main class="creasoft-wrap">
    <div class="line_wrap">
      <div class="line_item"></div>
      <div class="line_item"></div>
      <div class="line_item"></div>
      <div class="line_item"></div>
      <div class="line_item"></div>
    </div>

    {% for slider in sliders|slice:":1" %}
    <section class="hero-area">
      <div class="hero-wrapper">
        <div class="container">
          <div class="row home2-hero">
            <div class="col-lg-6">
              <div class="hero-content" style="margin-top:80px !important;">
                <h1>{% if slider.title %}{{ slider.title }}{% endif %}
                  <span>{% if slider.subtitle %}{{ slider.subtitle }}{% endif %}</span>
              </h1>
              <p>{% if slider.description %}{{ slider.description|safe }}{% endif %}</p>
                <div class="buttons">
                    {% if slider.button_url or slider.button_text %}
                    <div class="cmn-btn">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <a href="{{ slider.button_url }}">{{ slider.button_text }}</a>
                    </div>
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="col-lg-6">
                {% if slider.image %}
                <div class="hero-img">
                    <img src="{{ slider.image.url }}" class="slider_img"
                        alt>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

</section>

  <!--====================== About Section ======================-->
  {% if about %}
  <section class="about-area sec-mar-bottom">
      <div class="container">
          <div class="row mt-5">
              <div class="col-lg-6 or-2 wow animate fadeIn" data-wow-delay="200ms" data-wow-duration="1500ms">
                  <div class="sec-title layout2">
                      {% if about.subtitle %}
                          <span>{{ about.subtitle }}</span>
                      {% endif %}
                      {% if about.title %}
                          <h2>{{ about.title }}</h2>
                      {% endif %}
                  </div>
                  <div class="about-left ">
                      {% if about.short_description %}
                          <h3>{{ about.short_description }}</h3>
                      {% endif %}
                      {% if about.long_description %}
                          <p>{{ about.long_description|safe }}</p>
                      {% endif %}
                      <div class="company-since">
                  
                              <div class="company-logo">
                                <h3>SeoAgency</h3>
                                  {% comment %} <img src="{{ settings.logo_dark.url }}" width="300" alt> {% endcomment %}
                              </div>
                        
                          {% if about.ranking_number %}
                              <strong>#{{ about.ranking_number }}</strong>
                          {% endif %}
                          <h4>{% if about.tag_line %}{{ about.tag_line }}{% endif %} <span>{% if about.experience %}{{ about.experience }}{% endif %}</span></h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 or-1 wow animate fadeIn" data-wow-delay="200ms" data-wow-duration="1500ms">
                  <div class="about-right layout2">
                      {% if about.image %}
                          <div class="banner-1">
                              <img src="{{ about.image.url }}" alt>
                          </div>
                      {% endif %}
                   
                  </div>
              </div>
          </div>
      </div>
  </section>
  {% endif %}

{% endblock content %}