{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="line_wrap">
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
</div>

<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-cnt">
                        <h1>Services</h1>
                        <span><a href="{% url "home:index" %}">Home</a><i class="bi bi-arrow-right"></i>Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if services %}
        <section class="services-grid sec-mar">
            <div class="container">
                <div class="title-wrap">
                    <div class="sec-title">
                        <span>Our Solutions</span>
                        <h2>Services</h2>
                    </div>
                </div>
                {% if user.is_superuser %}
                <a class="btn btn-lg btn-success m-4" href="{% url 'service:create-service'%}">ADD NEW SERVICE</a>
                {% endif %}
                <div class="row g-4">
                {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow animate fadeInUp" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="single-service">
                            <span>0{{forloop.counter}}</span>
                            {% if service.fontawesome_icon_class %}
                                <div class="icon">
                                    <i class="{{ service.fontawesome_icon_class }} service-ico"></i>
                                </div>
                            {% endif %}
                            {% if service.name %}
                            <h4>{{ service.name }}</h4>
                            {% endif %}
                            {% if service.short_description %}
                            <p>{{ service.short_description }}</p>
                            {% endif %}
                            {% if user.is_superuser %}
                            <a class="btn btn-secondary mt-3" href="{% url 'service:update-service' service.id%}">Update</a>
                            <a class="btn btn-danger ms-2 mt-3" href="{% url 'service:delete-service' service.id%}">Delete</a>
                            {%else%}
                            <div class="read-btn">
                                <a href="{% url 'contact:contact' %}">Start project</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
{% endblock content %}