<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/fontawesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>{{title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">  
    <meta name="description" content="{{description}}">
    <style>
        .service-ico {
            font-size: 70px !important;
            color: #5da78b;
        }
    </style>
</head>

<body>

    <header class="header-area position_top">
        <div class="site-logo">
            <div class="logo">
                <h3 class ='text-light'>SeoAgency</h3>
            </div>
        </div>
        <div class="main-menu">
            <nav class="main-nav">
                <div class="mobile-menu-logo">
                    <h3>SeoAgency</h3>
                    <div class="remove">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                </div>
                             
                    <ul>
                        <li class="has-child {% if request.path == '/' %}active{% endif %}">
                            <a href="{% url 'home:index' %}">Home</a>
                        </li>
                        <li class="has-child {% if request.path == '/contact/' %}active{% endif %}">
                            <a href="{% url 'contact:contact' %}">Contact Us</a>
                        </li>
                        <li class="has-child {% if request.path == '/services/' %}active{% endif %}">
                            <a href="{% url 'service:services' %}">Services</a>
                        </li>
                        <li class="has-child {% if request.path == '/projects/' %}active{% endif %}">
                            <a href="{% url 'price:prices' %}">Price</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="has-child {% if request.path == '/menu/' %}active{% endif %}">
                            <a href="{% url 'menu:menu' %}">My Menu</a>
                        </li>
                        {% else %}
                        <li class="has-child">
                            <a href="/accounts/signup">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>
                    
             
                <div class="get-qoute d-flex justify-content-center d-lg-none d-block pt-50">
                    <div class="cmn-btn">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                            {% if user.is_authenticated %}
                            <a href="{% url 'menu:menu' %}">Hello! &nbsp; &nbsp; {{ user }}</a>
                            {% else %}
                              <a href="/accounts/login">Log in</a>
                            {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        <div class="nav-right">
            <div class="get-qoute">
                <div class="cmn-btn">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'menu:menu' %}" >Hello! &nbsp; &nbsp; {{ user }} </a>
                    {% else %}
                      <a href="/accounts/login">Log in</a>
                    {% endif %}
                </div>
            </div>
            <div class="mobile-menu">
                <a href="javascript:void(0)" class="cross-btn">
                    <span class="cross-top"></span>
                    <span class="cross-middle"></span>
                    <span class="cross-bottom"></span>
                </a>
            </div>
        </div>
    </header>

    
        {% block content %}

        {% endblock content %}


        <!--====================== Subscribe Section======================-->

        <section class="subscribe-newsletter sec-mar-top">
            <div class="container">
                <div class="news-letter-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="subscribe-cnt">
                                <span>Get In Touch</span>
                                <h3>Subscribe Our</h3>
                                <strong>Newsletter</strong>
                            </div>
                        </div>
                        <div class="col-lg-6 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="subscribe-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="email" name="email" class="emailfield" placeholder="Type Your Email">
                                    <input type="submit" class="subscribe-btn" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--====================== Footer Section ======================--> 

        <footer>
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <h3 class="text-white" >SeoAgency</h3>
                                </div>
                                <p>OPTIMIZE YOUR SUCCESS</p>
                                <ul class="social-media-icons">
                                    <li><a rel="nofollow noopener noreferrer" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a rel="nofollow noopener noreferrer" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a rel="nofollow noopener noreferrer" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <div class="footer-widget">
                                <h4>Our Services</h4>
                                <ul class="footer-menu">
                                    {% for service in services|slice:":4" %}
                                    <li><a href="{%url 'service:services'%}">{{service.name}}</a></li>
                                   {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <div class="footer-widget">
                                <h4>Subscribe</h4>
                                <ul class="footer-menu">
                                    {%for price in prices|slice:":3" %}
                                    <li><a href="{%url 'price:prices'%}">{{price.title}}</a></li>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <div class="footer-widget">
                                <h4>Contacts</h4>
                                <div class="number">
                                    <div class="num-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="phone">
                                        <a href="tel:88009001122">8(800)9001122</a>
                                    </div>
                                </div>
                                <div class="office-mail">
                                    <div class="mail-icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="email">
                                        <a href="mailto:admin@sale.com"><span class="__cf_email__"
                                                data-cfemail="630a0d050c23061b020e130f064d000c0e">admin@sale.com</span></a>
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="address-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <p>Ireland, Limerick, V42YNNN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4 col-lg-4 col-xl-5">
                            <div class="copy-txt">
                                <span>Copyright 2024</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
                            <ul class="footer-bottom-menu">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </main>


    <div id="progress">
        <span id="progress-value"><i class="fas fa-arrow-up"></i></span>
      </div>

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <script src="{% static 'assets/js/particles.min.js' %}"></script>
    {% comment %} <script src="{% static 'front/assets/js/app.js' %}"></script> {% endcomment %}

    <script src="{% static '/assets/js/custom.js' %}"></script>


</body>

</html>