{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<main class="creasoft-wrap">
<div class="line_wrap">
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
</div>

<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-cnt">
                        <h1>My Menu</h1>
                        <span><a href="{% url "home:index" %}">Home</a><i class="bi bi-arrow-right"></i>My Menu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container  bg-white shadow-md p-2 form-layout text-center rounded-2">
            
          <h5>Subscriptions menu</h5>  
        <div class="row justify-content-center">
          <div class="card bg-light shadow-md col-6 center p-2 form-layout text-center rounded-2">
          <h4>Curent subscription status: {{SubscriptionPlan}}</h4>
          </div>
        </div>
          {% if SubscriptionID %}
                    <button class="btn btn-lg btn-danger mt-3" id="delete-btn" onclick=confirm_delete("{% url 'menu:delete-subscription' SubscriptionID %}")>Delete Subscription</button>  
          {% endif %}
        
      </div>
      
      <div class="container bg-white shadow-md p-2 form-layout text-center rounded-2">
        <hr>
        <h5> User Menu </h5>
        <a class="btn btn-lg btn-secondary mt-2" href="/accounts/logout">Exit</a>
     </div>

</section>

<script>
    function confirm_delete(delete_url){
        var delete_confirmed = confirm("Delete curent subscription?")
        if (delete_confirmed){
            window.location.href = delete_url;
        }
      }
</script>      

{% endblock content %}