{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<main class="creasoft-wrap">
<div class="line_wrap">
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
    <div class="line_item"></div>
</div>

<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <div class="breadcrumb-cnt">
                        <h1>My Menu</h1>
                        <span><a href="{% url "home:index" %}">Home</a><i class="bi bi-arrow-right"></i>My Menu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-white shadow-md p-2 form-layout text-center rounded-2">
            
          <h5>Subscriptions menu</h5>  
          <h4>Curent subscription status: {{SubscriptionPlan}}</h4>
          {% if SubscriptionID %}
                 <a class="btn btn-lg btn-danger mt-3" id="delete-btn" href="{% url 'menu:delete-subscription' SubscriptionID %}">
                Delete Subscription</a>
          {% endif %}
        
      </div>
      
      <div class="container bg-white shadow-md p-2 form-layout text-center rounded-2">
        <hr>
        <h5> User Menu </h5>
        <a class="btn btn-lg btn-secondary mt-2" href="/accounts/logout">Exit</a>
     </div>

</section>
{% endblock content %}